article-item
{
    height: 100px;
}

.article-item-image
{
    display: inline-block;
    float: left;
}
.article-item-image > img
{
    margin: 5px;
}

.article-item-title
{
    margin: 5px;
    padding: 0;
    font-size: 0.8em;
    width: auto;
    overflow: hidden; /* "overflow" value must be different from "visible" */ 

    text-overflow: ellipsis;
}

.article-item-content
{
    font-size: 0.5em;
}

.km-weather-e:after,
.km-weather-e:before
{
    content: "\e063";
}

.km-news-e:after,
.km-news-e:before
{
    content: "\e0f1";
}

.full-article-container
{
    width: 100%;
}

.full-article-image
{
    margin: 0 15px;
    width: 80%;
    max-width: 400px;
    height: auto;
}

.contact-item{
    font-size:0.5em;
    height:4em;
}

.partial-article-container{
    background-color:WindowFrame;
}

.share-button{
    margin:20px 130px;
}