article-item
{
    height: 100px;
}

.article-item-image
{
    display: inline-block;
    float: left;
}
.article-item-image > img
{
    margin: 5px;
}

.article-item-title
{
    margin: 5px;
    padding: 0;
    font-size: 0.8em;
    width:auto ;
    overflow: hidden; /* "overflow" value must be different from "visible" */ 

    text-overflow: ellipsis;
}

.article-item-content
{
    font-size: 0.5em;
}

.full-article-container{
    width:100%;
}

.full-article-image{
    margin:0 15px;
    width:80%;
    max-width:400px;
    height:auto;
}