<div id="full-article" data-id="full-article" data-role="view" data-title="24Hours News" data-layout="main-layout"  data-show="app.fullArticles.init">
    <div class="full-article-container" data-bind="source: fullArticle" data-template="fullArticleTemplate">

    </div>
</div>
<script type="text/x-kendo-template" id="fullArticleTemplate">
    <h2 class="full-article-title">#= data.title #</h2>
    <img class="full-article-image"  src="#: data.imageSource #" />
    <div class="full-article-content">#= data.content #</div>
</script>